<h2>Editer le projet {{current_project.name}}</h2>

<input type='text' id='text_name_project' value='{{current_project.name}}'/>
<input type='hidden' id='hidden_id_project' value='{{current_project.id}}'/>

<textarea id='textarea_summary'>{{current_project.summary}}</textarea>

<select id='select_statut' ng-model="current_project.statut">
	<option ng-repeat="statut in statuts" ng-selected="{{statut.name == current_project.statut}}" id='statut-{{statut.name}}' value='{{statut.statut_id}}'>{{statut.name}}</option>
</select>

<div>
	Projet parent : 
	<select id='parent_dropdown'>
		<option id='parent-null'></option>
		<option ng-repeat="project in parent_projects" ng-hide="{{project.id == current_project.id}}" ng-selected="{{project.id == current_project.parent_id}}" id='parent-{{project.id}}'>{{project.name}}</option>
	</select>
</div>

<div ng-hide="current_project.id == -1">
	<div ng-hide="children_projects.length == 0">
		<table>
			<head>
				<th>Nom</th>
				<th>Résumé</th>
				<th>Statut</th>
				<th>Créé le</th>
				<th>Editer</th>
				<th>Retirer</th>
			</head>
			<body>
				<tr ng-repeat="child in children_projects">
					<td>{{child.name}}</td>
					<td>{{child.summary}}</td>
					<td>{{child.statut}}</td>
					<td>{{child.creation_date}}</td>
					<td><a href="#/edit_project/{{child.id}}">Editer</a></td>
					<td><input type='button' value='Retirer' id='editProject-button-remove-{{child.id}}' onClick='removeChildrenFromProject(this)'/></td>
				</tr>
			</body>
		</table>
	</div>

	<h2>Evènements</h2>
	<div ng-hide="events.length == 0">
		<table>
			<head>
				<th>Nom</th>
				<th>Description</th>
				<th>Date de l'évènement</th>
				<th>Parent</th>
				<th>Retirer</th>
			</head>
			<body>
				<tr ng-repeat="event in events">
					<td><a href="#/edit_event/{{event.id}}">{{event.name}}</a></td>
					<td>{{event.description}}</td>
					<td><span ng-hide="event.date == NULL">{{event.date}}</span></td>
					<td><span ng-hide="event.parent_id == NULL">{{event.parent_name}}</span></td>
					<td><input type='button' value='Retirer' id='editProject-button-removeElement-{{event.element_id}}' onClick='removeElementFromProject(this)'/></td>
				</tr>
			</body>
		</table>
	</div>
	<input type='button' value='Ajouter un nouvel évènement' id='editproject-button-addEvent' ng-click="editEvent(current_project.id, -1)"/>

	<h2>Lieux</h2>
	<div ng-hide="locations.length == 0">
		<table>
			<head>
				<th>Nom</th>
				<th>Description</th>
				<th>Parent</th>
				<th>Retirer</th>
			</head>
			<body>
				<tr ng-repeat="location in locations">
					<td><a href="#/edit_location/{{location.id}}">{{location.name}}</a></td>
					<td>{{location.description}}</td>
					<td><span ng-hide="location.parent_id == NULL">{{location.parent_name}}</span></td>
					<td><input type='button' value='Retirer' id='editProject-button-removeElement-{{location.element_id}}' onClick='removeElementFromProject(this)'/></td>
				</tr>
			</body>
		</table>
	</div>
	<input type='button' value='Ajouter un nouveau lieu' id='editproject-button-addLocation' ng-click="editLocation(current_project.id, -1)"/>

	<h2>Personnages</h2>
	<div ng-hide="characters.length == 0">
		<table>
			<head>
				<th>Nom</th>
				<th>Prénom</th>
				<th>Description</th>
				<th>Mental</th>
				<th>Retirer</th>
			</head>
			<body>
				<tr ng-repeat="character in characters">
					<td><a href="#/edit_character/{{character.id}}">{{character.name}}</a></td>
					<td>{{character.surname}}</td>
					<td>{{character.description}}</td>
					<td>{{character.mental}}</td>
					<td><input type='button' value='Retirer' id='editProject-button-removeElement-{{character.element_id}}' onClick='removeElementFromProject(this)'/></td>
				</tr>
			</body>
		</table>
	</div>
	<input type='button' value='Ajouter un nouveau personnage' id='editproject-button-addCharacter' ng-click="editCharacter(current_project.id, -1)"/>
</div>

<input type='button' value='Sauvegarder' onClick='saveChangesProject()'/>
<input type='button' value='Annuler' onClick="location.href='#/'"/>

