<h2>Editer le projet {{current_project.name}}</h2>

<input type='text' id='text_name_project' value='{{current_project.name}}'/>
<input type='hidden' id='hidden_id_project' value='{{current_project.id}}'/>

<textarea id='textarea_summary'>{{current_project.summary}}</textarea>

<select id='select_statut' ng-model="current_project.statut">
	<option ng-repeat="statut in statuts" ng-selected="{{statut.name == current_project.statut}}" id='statut-{{statut.name}}' value='{{statut.statut_id}}'>{{statut.name}}</option>
</select>

<div>
	Projet parent : 
	<select id='parent_dropdown'>
		<option id='parent-null'></option>
		<option ng-repeat="project in parent_projects" ng-hide="{{project.id == current_project.id}}" ng-selected="{{project.id == current_project.parent_id}}" id='parent-{{project.id}}'>{{project.name}}</option>
	</select>
</div>

<div ng-hide="children_projects.length == 0">
	<table>
		<head>
			<th>Nom</th>
			<th>Résumé</th>
			<th>Statut</th>
			<th>Créé le</th>
			<th>Editer</th>
			<th>Retirer</th>
		</head>
		<body>
			<tr ng-repeat="child in children_projects">
				<td>{{child.name}}</td>
				<td>{{child.summary}}</td>
				<td>{{child.statut}}</td>
				<td>{{child.creation_date}}</td>
				<td><a href="#/edit_project/{{child.id}}">Editer</a></td>
				<td><input type='button' value='Retirer' id='editProject-button-remove-{{child.id}}' onClick='removeChildrenFromProject(this)'></td>
			</tr>
		</body>
	</table>
</div>
<input type='button' value='Sauvegarder' onClick='saveChangesProject()'>
<input type='button' value='Annuler' onClick="location.href='#/'">

