<h2 ng-if="current_location.id > -1">Editer le lieu {{current_location.name}}</h2>
<h2 ng-if="current_location.id == -1">Nouveau lieu</h2>

<input type='text' id='text_name_location' value='{{current_location.name}}'/>
<input type='hidden' id='hidden_id_location' value='{{current_location.id}}'/>
<input type='hidden' id='hidden_id_element' value='{{current_location.element_id}}'/>

<textarea id='textarea_description'>{{current_location.description}}</textarea>

Projet :
<select id='select_project' ng-model="current_location.project_id" ng-change="updateProject()">
	<option ng-repeat="project in projects" ng-selected="{{project.id == current_location.project_id}}" id='project-{{project.name}}' value='{{project.id}}'>{{project.name}}</option>
</select>

<div ng-if="locations.length > 0">
	Lieu parent : 
	<select id='parent_dropdown'>
		<option id='parent-null' value='-1'></option>
		<option ng-repeat="location in locations" ng-hide="{{location.id == current_location.id}}" ng-selected="{{location.id == current_location.parent_id}}" id='parent-{{location.id}}' value='{{location.id}}'>{{location.name}}</option>
	</select>
</div>
<div ng-if="locations.length <= 0">
	<p>Pas d'autre lieu pour ce projet</p>
</div>

<p ng-if="!projectSameAsInitial">Sauvegardez le changement de projet avant de continuer !</p>

<button ng-click='saveChangesLocation()'>Sauvegarder</button>
<button onClick="location.href='#/'">Annuler</button>

<div ng-if="current_location.id > -1">
	<!-- + children locations !-->
	<h2>Sous-Lieux</h2>
	<div ng-if="children_locations.length > 0">
		<table>
			<head>
				<th>Nom</th>
				<th>Description</th>
				<th>Retirer</th>
			</head>
			<body>
				<tr ng-repeat="child in children_locations">
					<td><a href="#/edit_location/{{child.id}}">{{child.name}}</a></td>
					<td>{{child.description}}</td>
					<td><button id='editLocation-button-removeSubLocation-{{child.id}}' ng-click='removeSublocationFromLocation(child.id)' class='retirerBtn'>Retirer</button></td>
				</tr>
			</body>
		</table>
	</div>
	<button data-toggle="modal" data-target="#modal_addSubLocation" class='addElementBtn'>Associer un sous-lieu</button>

	<!-- + characters présents dans cet événement !-->
	<h2>Evénements liés</h2>
	<div ng-if="location_events.length > 0">
		<table>
			<head>
				<th>Nom</th>
				<th>Description</th>
				<th>Date de l'évènement</th>
				<th>Retirer</th>
			</head>
			<body>
				<tr ng-repeat="event in location_events">
					<td><a href="#/edit_event/{{event.id}}">{{event.name}}</a></td>
					<td>{{event.description}}</td>
					<td>{{event.date}}</td>
					<td><button id='editLocation-button-removeEvent-{{event.id}}' ng-click='removeEventFromLocation(event.id)' class='retirerBtn'>Retirer</button></td>
				</tr>
			</body>
		</table>
	</div>
	<button data-toggle="modal" data-target="#modal_addEvent" class='addElementBtn'>Ajouter un nouvel événement</button>
</div>



<!-- Modals !-->
<div class="modal fade" id="modal_addSubLocation" tabindex="-1" aria-labelledby="modal_addSubLocation" aria-hidden="true">
	<div class="modal-dialog">
	    <div class="modal-content">
	    	<div class="modal-header">
	        	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        	<h4 class="modal-title" id="modal_addSubLocationLabel">Associer un sous lieu</h4>
	      	</div>
	      	<div class="modal-body">
	      		<div ng-if='availableLocationsToBeChildren.length > 0'>
					<h3>Choisissez le sous-lieu à rajouter</h3>
					<select id='children_available_dropdown'>
						<option ng-repeat="availableLocationToBeChildren in availableLocationsToBeChildren" id='child-{{availableLocationToBeChildren.id}}' value='{{availableLocationToBeChildren.id}}'>{{availableLocationToBeChildren.name}}</option>
					</select>
					<button type="button" ng-click="addSubLocation()">Ajouter</button>
				</div>
				<div ng-if='availableLocationsToBeChildren.length <= 0'>
					<p>Pas de lieu non attaché disponible</p>
				</div>
	      	</div>
	      	<div class="modal-footer">
	        	<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
	      	</div>
	    </div>
  	</div>
</div>

<div class="modal fade" id="modal_addEvent" tabindex="-1" aria-labelledby="modal_addEvent" aria-hidden="true">
	<div class="modal-dialog">
	    <div class="modal-content">
	    	<div class="modal-header">
	        	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        	<h4 class="modal-title" id="modal_addEventLabel">Associer un événement</h4>
	      	</div>
	      	<div class="modal-body">
	      		<div ng-if='availableEvents.length > 0'>
					<h3>Choisissez l'événement à rajouter</h3>
					<select id='events_available_dropdown'>
						<option ng-repeat="availableEvent in availableEvents" id='child-{{availableEvent.id}}' value='{{availableEvent.id}}'>{{availableEvent.name}}</option>
					</select>
					<button type="button" ng-click="addEventToLocation()">Ajouter</button>
				</div>
				<div ng-if='availableEvents.length <= 0'>
					<p>Pas d'événement disponible</p>
				</div>
	      	</div>
	      	<div class="modal-footer">
	        	<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
	      	</div>
	    </div>
  	</div>
</div>