<h2 ng-if="current_project.id > -1">Editer le projet {{current_project.name}}</h2>
<h2 ng-if="current_project.id == -1">Nouveau projet</h2>

<input type='text' id='text_name_project' value='{{current_project.name}}'/>
<input type='hidden' id='hidden_id_project' value='{{current_project.id}}'/>

<textarea id='textarea_summary'>{{current_project.summary}}</textarea>

<select id='select_statut' ng-model="current_project.statut_id">
	<option ng-repeat="statut in statuts" ng-selected="{{statut.statut_id == current_project.statut_id}}" id='statut-{{statut.name}}' value='{{statut.statut_id}}'>{{statut.name}}</option>
</select>

<div>
	Projet parent : 
	<select id='parent_dropdown'>
		<option id='parent-null' value='-1'></option>
		<option ng-repeat="project in parent_projects" ng-hide="{{project.id == current_project.id}}" ng-selected="{{project.id == current_project.parent_id}}" id='parent-{{project.id}}' value='{{project.id}}'>{{project.name}}</option>
	</select>
</div>

<button value='Sauvegarder' ng-click='saveChangesProject()'>Sauvegarder</button>
<button value='Annuler' onClick="location.href='#/'">Annuler</button>

<div ng-if="current_project.id > -1">
	<h2>Sous-projets</h2>
	<div ng-if="children_projects.length > 0">
		<table>
			<head>
				<th>Nom</th>
				<th>Résumé</th>
				<th>Statut</th>
				<th>Créé le</th>
				<th>Retirer</th>
			</head>
			<body>
				<tr ng-repeat="child in children_projects">
					<td><a href="#/edit_project/{{child.id}}">{{child.name}}</a></td>
					<td>{{child.summary}}</td>
					<td>{{child.statut}}</td>
					<td>{{child.creation_date}}</td>
					<td><button id='editProject-button-remove-{{child.id}}' ng-click='removeChildrenFromProject(child.id)'>Retirer</button></td>
				</tr>
			</body>
		</table>
	</div>
	<button data-toggle="modal" data-target="#modal_addSubProject" class='addElementBtn'>Associer un sous projet</button>

	<h2>Evènements</h2>
	<div ng-if="events.length > 0">
		<table>
			<head>
				<th>Nom</th>
				<th>Description</th>
				<th>Date de l'évènement</th>
				<th>Lieu</th>
				<th>Parent</th>
				<th>Retirer</th>
			</head>
			<body>
				<tr ng-repeat="event in events">
					<td><a href="#/edit_event/{{event.id}}">{{event.name}}</a></td>
					<td>{{event.description}}</td>
					<td><span ng-if="event.date != NULL">{{event.date}}</span></td>
					<td><span ng-if="event.location_id != NULL">{{event.location_name}}</span></td>
					<td><span ng-if="event.parent_id != NULL">{{event.parent_name}}</span></td>
					<td><button id='editProject-button-removeElement-{{event.element_id}}' ng-click='removeElementFromProject(event.element_id)'>Retirer</button></td>
				</tr>
			</body>
		</table>
	</div>
	<button data-toggle="modal" data-target="#modal_addEvent" class='addElementBtn'>Associer un évènement</button>

	<h2>Lieux</h2>
	<div ng-if="locations.length > 0">
		<table>
			<head>
				<th>Nom</th>
				<th>Description</th>
				<th>Parent</th>
				<th>Retirer</th>
			</head>
			<body>
				<tr ng-repeat="location in locations">
					<td><a href="#/edit_location/{{location.id}}">{{location.name}}</a></td>
					<td>{{location.description}}</td>
					<td><span ng-if="location.parent_id != NULL">{{location.parent_name}}</span></td>
					<td><button id='editProject-button-removeElement-{{location.element_id}}' ng-click='removeElementFromProject(location.element_id)'>Retirer</button></td>
				</tr>
			</body>
		</table>
	</div>
	<button data-toggle="modal" data-target="#modal_addLocation" class='addElementBtn'>Associer un lieu</button>

	<h2>Personnages</h2>
	<div ng-if="characters.length > 0">
		<table>
			<head>
				<th>Nom</th>
				<th>Prénom</th>
				<th>Description</th>
				<th>Mental</th>
				<th>Retirer</th>
			</head>
			<body>
				<tr ng-repeat="character in characters">
					<td><a href="#/edit_character/{{character.id}}">{{character.name}}</a></td>
					<td>{{character.surname}}</td>
					<td>{{character.description}}</td>
					<td>{{character.mental}}</td>
					<td><button id='editProject-button-removeElement-{{character.element_id}}' ng-click='removeElementFromProject(character.element_id)'>Retirer</button></td>
				</tr>
			</body>
		</table>
	</div>
	<button data-toggle="modal" data-target="#modal_addCharacter" class='addElementBtn'>Associer un personnage</button>
</div>

<!-- Modals    -->
<div class="modal fade" id="modal_addSubProject" tabindex="-1" aria-labelledby="modal_addSubProject" aria-hidden="true">
	<div class="modal-dialog">
	    <div class="modal-content">
	    	<div class="modal-header">
	        	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        	<h4 class="modal-title" id="modal_addSubProjectLabel">Associer un sous projet</h4>
	      	</div>
	      	<div class="modal-body">
	      		<div ng-if='availableProjectsToBeChildren.length > 0'>
					<h3>Choisissez le sous-projet à rajouter</h3>
					<select id='children_available_dropdown'>
						<option ng-repeat="availableProjectToBeChildren in availableProjectsToBeChildren" id='child-{{availableProjectToBeChildren.id}}' value='{{availableProjectToBeChildren.id}}'>{{availableProjectToBeChildren.name}}</option>
					</select>
					<button type="button" ng-click="addSubProject()">Ajouter</button>
				</div>
				<div ng-if='availableProjectsToBeChildren.length <= 0'>
					<p>Pas de lieu non attaché disponible</p>
				</div>
	      	</div>
	      	<div class="modal-footer">
	        	<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
	      	</div>
	    </div>
  	</div>
</div>


<div class="modal fade" id="modal_addEvent" tabindex="-1" aria-labelledby="modal_addEvent" aria-hidden="true">
	<div class="modal-dialog">
	    <div class="modal-content">
	    	<div class="modal-header">
	        	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        	<h4 class="modal-title" id="modal_addEventLabel">Associer un événement</h4>
	      	</div>
	      	<div class="modal-body">
	      		<div ng-if='availableEvents.length > 0'>
					<h3>Choisissez l'événement à rajouter</h3>
					<select id='events_available_dropdown'>
						<option ng-repeat="availableEvent in availableEvents" id='child-{{availableEvent.id}}' value='{{availableEvent.id}}'>{{availableEvent.name}}</option>
					</select>
					<button type="button" ng-click="addEventToLocation()">Ajouter</button>
				</div>
				<div ng-if='availableEvents.length <= 0'>
					<p>Pas d'événement disponible</p>
				</div>
	      	</div>
	      	<div class="modal-footer">
	        	<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
	      	</div>
	    </div>
  	</div>
</div>

<div class="modal fade" id="modal_addLocation" tabindex="-1" aria-labelledby="modal_addLocation" aria-hidden="true">
	<div class="modal-dialog">
	    <div class="modal-content">
	    	<div class="modal-header">
	        	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        	<h4 class="modal-title" id="modal_addLocationLabel">Associer un lieu</h4>
	      	</div>
	      	<div class="modal-body">
	      		<div ng-if='availableLocations.length > 0'>
					<h3>Choisissez l'événement à rajouter</h3>
					<select id='locations_available_dropdown'>
						<option ng-repeat="availableLocation in availableLocations" id='child-{{availableLocation.id}}' value='{{availableLocation.id}}'>{{availableLocation.name}}</option>
					</select>
					<button type="button" ng-click="addToLocation()">Ajouter</button>
				</div>
				<div ng-if='availableLocations.length <= 0'>
					<p>Pas de lieu disponible</p>
				</div>
	      	</div>
	      	<div class="modal-footer">
	        	<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
	      	</div>
	    </div>
  	</div>
</div>

<div class="modal fade" id="modal_addCharacter" tabindex="-1" aria-labelledby="modal_addCharacter" aria-hidden="true">
	<div class="modal-dialog">
	    <div class="modal-content">
	    	<div class="modal-header">
	        	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        	<h4 class="modal-title" id="modal_addCharacterLabel">Associer un personnage</h4>
	      	</div>
	      	<div class="modal-body">
	      		<div ng-if='availableCharacters.length > 0'>
					<h3>Choisissez le personnage à rajouter</h3>
					<select id='locations_available_dropdown'>
						<option ng-repeat="availableCharacter in availableCharacters" id='child-{{availableCharacter.id}}' value='{{availableCharacter.id}}'>{{availableCharacter.name}} {{availableCharacter.surname}}</option>
					</select>
					<button type="button" ng-click="addToLocation()">Ajouter</button>
				</div>
				<div ng-if='availableCharacters.length <= 0'>
					<p>Pas de personnage disponible</p>
				</div>
	      	</div>
	      	<div class="modal-footer">
	        	<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
	      	</div>
	    </div>
  	</div>
</div>